// Font Import
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Variables
// Colors

$white     : #fff;
$black     : #000;
$orange    : #eb4e08;
$light-grey: #f4f4f4;
$mid-grey  : #838383;
$dark-grey : #2c2c2c;

$primary: $orange;
